<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serviceconnect">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/map_key"/>

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_maps_key" />-->


        <activity android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.VerificationOTPActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.customer.SalonAndBeautyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.Automative_AutoRepairActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.HomeCareProductPickUpRideActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.HomeMaintenance_RemodelingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SpecialityActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SetLocationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SalonAndBeautyBusinessListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.ServiceDetailsAndOrderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.LicenceListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.CommentListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.OrderPlaceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SettingActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>