<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Servicehubconnect">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:overrideLibrary="androidx.multidex"
        >
        <activity android:name="com.Servicehubconnect.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:enabled="true"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/map_key"/>

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_maps_key" />-->


        <activity android:name="com.Servicehubconnect.activity.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.Servicehubconnect.activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.HomeActivityCustomer"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.VerificationOTPActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />

<!--        <activity android:name="com.Servicehubconnect.activity.customer.SetLocationActivity"-->
<!--            android:screenOrientation="portrait"/>-->

        <activity android:name=".activity.customer.SubCategoryListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.PrivacyPolicyActivityCustomer"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.TermAndConditionActivityCustomer"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SetLocationAddressActivity"
            android:screenOrientation="portrait" />




        <activity android:name="com.Servicehubconnect.activity.customer.ProfessionalListActivity"
            android:screenOrientation="portrait"/>

<!--        <activity android:name=".activity.customer.OrderProductsAndServicesKotlinActivity"-->
<!--            android:screenOrientation="portrait"/>-->

        <activity android:name="com.Servicehubconnect.activity.customer.LicenceListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SettingTermAndConditionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.CommentListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.OrderPlaceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.ExtraPackageListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.OrderProductsAndServicesActivity"
            android:screenOrientation="portrait"/>



        <activity android:name="com.Servicehubconnect.activity.customer.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.TrackServiceManActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.MyServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.MyInvoiceActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.Servicehubconnect.activity.customer.RescheduledServiceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.MyRatingAndCommentActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.ReferFriendsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.SupportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.customer.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.ChangePasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.ContactSupportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.EditProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>






        <activity android:name="com.Servicehubconnect.activity.servicePerson.MyServiceActivitySP"
            android:screenOrientation="portrait" />

        <activity android:name="com.Servicehubconnect.activity.servicePerson.HomeActivitySP"
            android:screenOrientation="portrait"/>

        <activity android:name="com.Servicehubconnect.activity.servicePerson.CurrentServiceActivitySp"
            android:screenOrientation="portrait"/>
        <activity android:name="com.Servicehubconnect.activity.servicePerson.RescheduledServiceActivitySP"
            android:screenOrientation="portrait"/>
        <activity android:name="com.Servicehubconnect.activity.servicePerson.TrackingCustomerActivitySP"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.Servicehubconnect.activity.servicePerson.MyInvoiceActivitySP"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.customer.SearchBusinessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.servicePerson.TermAndConditionActivityProfessional"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.servicePerson.PrivacyPolicyActivityProfessional"
            android:screenOrientation="portrait"/>

    </application>

</manifest>